<page-nav></page-nav>

<div class="pure-u-1">
    <div class="content">
        <div ng-hide="site">Choose a site</div>
        <div ng-if="site">
            <section>
                <h1>Site Details: {{site.name}}</h1>
            </section>

            <h2>Pages</h2>
            <ul>
                <li ng-repeat="page in site.children">
                    {{page.url}}
                </li>
            </ul>

            <h2>Actions</h2>
            <a class="pure-button pure-button-primary" ng-click="captureSite(site._id)">Capture</a>
            <a class="pure-button pure-button-error" ng-click="deleteSite(site._id)">Delete</a>
        </div>
    </div>
</div>