<h1>Site Details: {{site.name}} {{status}}</h1>

<div class="pure-g-r">
    <div class="pure-u-1-2 l-box">
        <div class="pure-menu pure-menu-open">
            <h2 class="pure-menu-heading">Pages</h2>
            <ul>
                <li ng-repeat="page in site.children">
                    <button ng-click="viewCaptures(page)">{{page.url}}</button> * <a href="{{page.url}}">View Site</a>
                    <div>
                        <a href="{{capture.data}}" ng-repeat="capture in page.captures">
                            <img src="{{capture.data}}" alt="view full capture" height="50"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1-2 l-box">
        <h2>Actions</h2>
        <a class="pure-button pure-button-primary" ng-click="captureSite(site._id)">Capture</a>
        <a class="pure-button pure-button-error" ng-click="deleteSite(site._id)">Delete</a>
    </div>
</div>