<h1>Create a New Site</h1>

<form action="/site/create" method="POST" class="form-create-site">

    <div class="form-item">
        <label for="name">Site Name</label>
        <input type="text" id="name" name="name" />
    </div>

    <div class="form-item">
        <label for="urls">URLs (each URL on a separate line)</label>
        <textarea id="urls" name="urls"></textarea>
    </div>

    <button type="submit">Create Site</button>
</form>