<h2>Site: <%- site.name %></h2>
<!--<p>Status: <%- site.status %></p>-->
<h3>Pages:</h3>
<ul>
    <% _.each(pages, function (page) { %>
    <li><%= page.url %></li>
    <% }) %>
</ul>

<a href="/site/capture/<%- site.id %>">Capture Screenshots</a>